/* General styles and reset */
*,
::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -msbox-sizing: border-box;
}

/* COLORS */
:root {
  --very-dark-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-dark-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --light-grayish-blue: hsl(210, 46%, 95%);
}

html {
  font-family: "Manrope", sans-serif;
  font-size: 13px;
}
body {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  width: 100vw;
}

/* MOBILE DEVICES */

.main-container {
  background: var(--light-grayish-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  min-width: 320px;
}

.article-preview {
  background: white;
  width: 90%;
  max-width: 1440px;
  border-radius: 1rem;
  /* this is for the tooltip on mobile */
  position: relative;
  /* this is for the tooltip on mobile */
}

.article-preview-img img {
  border-radius: 1rem 1rem 0 0;
  width: 100%;
}

.article-preview-text h2 {
  font-size: 1.35rem;
  margin-bottom: 1rem;
  color: var(--very-dark-grayish-blue);
}
.article-preview-text p {
  line-height: 1.6rem;
  color: var(--desaturated-dark-blue);
}
.article-preview-text p:last-child {
  color: var(--grayish-blue);
}
.resume {
  padding: 2rem;
}
.author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  height: 90px;
}
.author__info {
    display: flex;
    align-items: center;
}

.author__img {
  width: 20%;
}
.author__img img {
  border-radius: 50%;
}
.author__name {
  width: 50%;
  font-size: 1rem;
}

.author__share {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.author__btn img {
  padding: 1rem;
  border-radius: 50%;
  background: var(--light-grayish-blue);
}

#tooltip {
  display: none;
}

#tooltip-sm {
  background: var(--very-dark-grayish-blue);
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0 0 0.5rem 0.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
}

.up {
  display: flex;
  animation-name: up;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

.down {
  display: flex;
  animation-name: down;
  animation-duration: 0.1s;
  animation-fill-mode: forwards;
}

@keyframes up {
  from {
    height: 0;
  }
  to {
    height: 90px;
  }
}
@keyframes down {
  from {
    height: 90px;
  }
  to {
    height: 0;
  }
}

.tooltip__text {
  width: 40%;
}
.tooltip__text p {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  color: var(--grayish-blue);
}
.tooltips__icon {
  display: flex;
  width: 60%;
}
.tooltips__icon a:last-child {
  margin-right: 0;
}
.tooltips__icon a {
  display: flex;
  align-items: center;
  font-size: 1.7rem;
  color: white;
  justify-content: center;
  text-decoration: none;
  margin-right: 1rem;
}

.share-btn a {
  font-size: 1.6rem;
  color: white;
  text-decoration: none;
  background: var(--grayish-blue);
  border-radius: 50%;
  padding: 0.5rem;
}

.tooltips__icon img {
  width: 60%;
}

.flex {
  display: flex !important;
}

/* MOBILE DEVICES */
/* --------------------------------------------------------------- */
/* DESKTOP DEVICES */

@media (min-width: 600px) {
  .author {
    margin: 2rem 0;
  }
  
  .author__img img {
    width: 70%;
  }
  #tooltip-sm {
    display: none;
  }
  .article-preview {
    display: flex;
    min-width: 885px;
    width: 80%;
  }
  .article-preview-img {
    width: 40%;
    display: flex;
  }
  .article-preview-img img {
    border-radius: 1rem 0 0 1rem;
  }
  .article-preview-text {
    border-radius: 0 1rem 1rem 0;
    width: 60%;
    padding: 2rem 4rem;
  }
  .article-preview-text h2 {
    font-size: 2.3rem;
  }
  .article-preview-text .resume p {
    font-size: 1.4rem;
  }

  .arrow {
    background: var(--very-dark-grayish-blue);
    padding: 1rem;
    position: absolute;
    bottom: -5px;
    transform: rotate(45deg);
    left: 45%;
    z-index: 99;
  }
  #tooltip {
    background: var(--very-dark-grayish-blue);
    position: absolute;
    justify-content: space-between;
    align-items: center;
    top: -75px;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    opacity: 0;
  }

  .fadeIn {
    display: flex !important;
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  .fadeOut {
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }

  .tooltip__inner {
    display: flex;
    z-index: 100;
    width: 200px;
  }

  .tooltip__text {
    width: 40%;
  }
  .tooltip__text p {
    text-transform: uppercase;
    letter-spacing: 0.5rem;
  }
  .tooltips__icon {
    display: flex;
    justify-content: flex-end;
    width: 60%;
  }
  .tooltips__icon a:last-child {
    margin-right: 0;
  }
  .tooltips__icon a {
    display: flex;
    align-items: center;
    font-size: 1.7rem;
    color: white;
    justify-content: center;
    text-decoration: none;
    margin-right: 1rem;
  }
  .tooltips__icon img {
    width: 60%;
  }
}

/* DESKTOP DEVICES */
